.switch {
  display: flex;

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 24px;
    background: white;
    border: 1px solid #a6a8ac;
    display: block;
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
  }

  label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
    background: #a6a8ac;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: #0052cc;
  }

  label:active::after {
    width: 30px;
  }

  input:checked + label::after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
    background: white;
  }
}
