/* stylelint-disable color-function-notation */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable color-hex-length */
.hub-list-item {
    margin: 20px 0;
  }

  .hub-list-item .hub-cover {
    width: 160px;
    height: 160px;
    padding: 2px;
    border: 1px solid #e8e8e8;
    margin: 0 auto 15px;
    position: relative;
  }

  @media only screen and (max-width: 767px) {
    .hub-list-item .hub-cover {
      width: 140px;
      height: 140px;
    }
  }

  .hub-list-item .hub-cover img {
    width: 100%;
    height: 100%;
  }

  .hub-list-item .hub-title {
    display: block;
    text-align: center;
  }

  .hub-list-item .hub-title {
    color: #303e48;
    font: 700 18px/24px "DINPro", sans-serif;
  }

  .hub-list-item a {
    text-decoration: none;
  }
