# Accessing the INN server:
# Internally (from other containers like the FastAPI containers):
# * Use nntp-server:119
# Externally (from your host):
# * Use localhost:119
# host.docker.internal would be used if the INN server was running on your localhost machine.

env_file:
  - path: .env
    required: true

services:
  nntp-server:
    hostname: nntp-server
    # TODO: the network name in /etc/news/inn.conf should be
    # different. Should come from .env file.
    build:
      context: ./server_config/news_server
      dockerfile: Dockerfile
    networks:
      my_network:
        ipv4_address: 172.21.0.2
    ports:
      - 119:119
    post_start:
      - command:  sh -c "/usr/local/bin/wait_for_tcp.sh 119 20 && /usr/local/bin/preseed.sh"

  fastapi-server:
    image: fastapi
    hostname: fastapi-server
    volumes:
      - ./server:/app/server:rw
      - ./static:/app/static:rw
      - ./templates:/app/templates:rw
    build:
      dockerfile: Dockerfile
    environment:
      CMS_PLUGIN: ${OME_CMS_PLUGIN}
      INN_SERVER_NAME: nntp-server
      # TODO: need to add the username/password that the NNTP server
      # now needs via .env or some such
      SERVER_PORT: 5001
    networks:
      my_network:
        ipv4_address: 172.21.0.3
    ports:
      - 5001:5001
    depends_on:
      - nntp-server

  imls-react:
    image: imlsreact
    build:
      dockerfile: Dockerfile-fe
    environment:
      NODE_ENV: development
      REACT_APP_API_URL: 'http://fastapi-server:5001'
    networks:
      my_network:
        ipv4_address: 172.21.0.4
    ports:
      - 4000:80
    depends_on:
      - fastapi-server

networks:
  my_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/24
          gateway: 172.21.0.1   # This is crucial for the nntp config to work.
