services:
  # imls-react:
  #   image: imlsreact
  #   build:
  #     context: fe2
  #     dockerfile: Dockerfile
  #   environment:
  #     NODE_ENV: production
  #   ports:
  #     - 4000:4000

  fastapi-server:
    image: fastapi
    build:
      # context: .
      dockerfile: Dockerfile
    environment:
      SERVER_PORT: 5001
    ports:
      - 5001:5001
  #   depends_on:
  #     - imls-react

  internetnews-server:
    image: cclauss/inn
    ports:
      - 119:119
      - 563:563
