# Copy this file and rename it to .env
# Any var with a prefix B_ means that it's a "build-time" variable. If you change them, you have to rebuild the docker images.

OME_CMS_PLUGIN=	 	   	      	     	     # e.g. server.plugins.qubes.plugin.QubesPlugin

B_OME_PEER=ISKME:nntp.dev.ome.oercommons.org	     # values are: NAME:dns-name, e.g. ISKME:nntp.dev.ome.oercommons.org
						     # comma separated.
						     # goes in innfeed.conf, actsync.cfg, incoming.conf,
						     #the name part will go into newsfeeds file.
B_OME_NNTP_USER=			     # username:password for FastAPI to talk to INN (goes in readers.conf and in /var/lib/news/newsusers)
B_OME_NNTP_DEBUG_USER=		     # username:password for direct access to INN (goes in readers.conf and in /var/lib/news/newsusers)
