/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable color-hex-length */
.set-organization {
  margin-bottom: 20px;
}

.set-organization-title {
  margin: 0 0 10px 0;
  font: 700 19px/25px "DINPro", sans-serif;
}
