.collection_header {
  display: flex;
  gap: 48px;
  margin-bottom: 16px;

  & > div:first-child {
    width: 320px;

    img {
      border-radius: 10px;
      width: 100%;
      border: 1px solid #000;
    }
  }

  & > div:nth-child(2) {
    color: #173d50;

    & > * {
      margin-bottom: 8px;
    }

    h1 {
      text-transform: uppercase;
      display: inline;
      margin-right: 8px;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #474f60;
    }

    h4 {
      margin-top: 16px;
      color: #173d50;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }

    a {
      color: #0e0f54;
      text-decoration: underline;
      font-weight: bold;
    }

    .button {
      align-items: center;
      height: 24px;
      background: #0e0f54;
      border: 1px solid #0e0f54;
      border-radius: 10px;
      padding: 4px 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      box-shadow: none;
      margin: 0;
    }

    .buttonSub {
      align-items: center;
      height: 24px;
      background: #265bc1;
      border: 1px solid #0e0f54;
      border-radius: 10px;
      padding: 4px 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      box-shadow: none;
      margin: 0;
      width: unset;
    }

    .desc {
      display: flex;
      gap: 16px;

      & > div {
        &:first-child {
          flex: 7;
        }

        &:nth-child(2) {
          flex: 3;
        }
      }

      .shorten {
        width: 300px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: break-spaces;
      }
    }
  }
}

.compress {
  max-height: 72px;
  overflow: hidden;
}

.overview_link {
  font-weight: normal;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(241 242 242);
  padding-left: 12px;
  color: #1f0894;
  cursor: pointer;
}
