.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  &::before {
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    top: -15px;
    transform: translateY(20px);
  }
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
