/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable color-hex-length */

.updatesData {
  margin-top: 24px;
  font-family: 'Open Sans';

  & > div:first-child {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    @media screen and (max-width: 980px) {
      flex-direction: column-reverse;
    }
    & > * {
      flex: 1;
      background: #FFF;
      padding: 24px;
    }
    .latest {
      display: flex;
      padding: 24px;
      justify-content: center;
      align-items: center;
      gap: 24px;
      background-color: white;
      & > div:first-child {
        display: flex;
        border-radius: 8px;
        border: 1px solid black;
        padding: 16px;
      }
      & > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        em {
          color: #1E1E1E;
          font-size: 36px;
          font-weight: 800;
          line-height: 44px;
          font-style: normal;
          b {
            color: #1747a1;
          }
        }
        span {
          font-size: 24px;
          font-weight: 600;
          line-height: 32px;
        }
      }
    }
    .stay {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border-left: 8px solid #8FD7FF;
      background: #FFF;
      box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.20);

      h5 {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        padding: 8px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.5px;
      }

      button {
        border-radius: 100px;
        background: #1747A1;
        margin: 8px;
        color: white;
        outline: none;
        border: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
        padding: 8px 24px;
      }
    }
  }

  & > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;

    a {
      color: #1E1E1E;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-decoration-line: underline;
    }
  }

  & > div:nth-child(3),
  & > div:nth-child(4),
  & > div:nth-child(5) {
    margin-bottom: 40px;
    gap: 24px;
  }
}

.collapseContent {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;

  &.left {
    align-items: flex-start;
    padding-left: 24px;
  }

  & > * {
    width: 250px;
  }

  & > span {
    color: #1E1E1E;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-decoration-line: underline;
    text-align: center;
  }
}

.cardItem {
  border-radius: 6.48px;
  background: #FFF;
  box-shadow: 0px 2.8350000381469727px 4.454999923706055px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  cursor: pointer;
  &:hover {
    background-color: rgb(198, 220, 255);
    .cardItemHeader {
      background-color: rgb(198, 220, 255);
      span {
        color: #054DD1;
      }
      svg path {
        fill: #054DD1;
      }
    }
  }
  &:active {
    background-color: rgb(172, 190, 220);
    .cardItemHeader {
      background-color: rgb(172, 190, 220);
      span {
        color: #054DD1;
      }
      svg path {
        fill: #054DD1;
      }
    }
  }
  &Header {
    display: flex;
    padding: 6px;
    gap: 6px;
    justify-content: center;
    align-items: center;
    background-color: #1747A1;
    span {
      color: #FFF;
      font-size: 11.664px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  &Cover {
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%); // , url(<path-to-image>), lightgray 50% / cover no-repeat;
    height: 120px;
    position: relative;
    img {
      width: 100%;
      height: 120px;
    }
    span {
      position: absolute;
      bottom: 0;
      color: white;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 15.552px;
      margin-bottom: 8px;
      font-weight: 600;
      line-height: 23.328px;
      letter-spacing: 0.097px;
    }
  }
  &Content {
    margin-top: 6px;
    color: #173D50;
    text-align: center;
    font-size: 11.664px;
    h6 {
      font-weight: 700;
      color: #054DD1;
    }
    span {
      font-weight: 300;
    }
  }
}

.row {
  display: flex;
}

.row > * {
  flex: 1;
}

.row {
  @media screen and (max-width: 980px) {
    flex-direction: column;
  }
}
