.parent-container{
  margin: auto;
}

.page-description {
  margin: 0;
  margin-bottom: 20PX;
}

.page-description-title{
  font: 400 24px/24px "DINPro", sans-serif;
}

.page-description-title-container{
  max-width: 1200px;
  margin: auto;
}

.sidebar-navigation{
 i {
    font-size: 8px;
    vertical-align: middle;
}
  ul {
    list-style-type: none;
    padding: 0;

    li {
      a {
        text-decoration: none;
        color: #333;
      }

      i {
        margin-right: 8px;
      }
    }
  }
}

.active {
  font-weight: bold;
  color: #000;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding-bottom: 10px;
}

.page-title{
  margin-bottom: 14px;
  color: #44515a;
  font: 500 24px/24px "DINPro", sans-serif;
  padding-left: 24px;
}

.page-subtitle {
  color: #6e6e6e;
  font: 400 14px/14px "DINPro", sans-serif;
  padding-left: 24px;
}

.message-text {
  padding: 5px;
}

.form-control{
  background-color: #efeff0;
  width: 100%;
  border-radius: 3px;
  padding: 10px 30px !important;
  margin: 30px 0 !important;
  label {
    font: 400 12px/12px "DINPro", sans-serif;
    span {
      &:first-child {
        margin: 0;
        padding: 4px;
      }
      font: 400 14px/14px "DINPro", sans-serif;
    }
  }
}
