.collapseCard {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #FCFCFC;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  & > div:first-child {
    display: flex;
  }
  span {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  a {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-decoration-line: underline;
  }
  .alert {
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #1e1e1e;
      &.success {
        color: #34B53A;
      }
    }
    .number {
      color: #EB4D39;
    }
  }
}
