/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable color-hex-length */
.allcollections {
  padding: 0;
  font-family: "Open Sans";
}

.allcollections_title {
  margin: 25px 0;
  font-family: "Open Sans";
  font-size: 26px;
}

.allcollections_desc {
  font-family: "Open Sans";
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 15px;

  a {
    color: rgb(5, 77, 209);
    text-decoration: underline;
  }
}

.search_block {
  display: flex;
  flex-direction: row;
  font-weight: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  .search_block_button {
    background-color: #054DD1;
    color: #ffffff;
  }
}

.reset {
  background-color: #0e0f58;
  color: #ffffff;
}

//
input[data-slug] {
  margin-right: 8px;
}

.loaderContainer {
  padding-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.filter_bar {
  width: 30%;
  margin: 0;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 2px 1px 8px #666666, 5px 5px 24px #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 15px;

  h6 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
  }
}

.allcollections_board {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
}

.allcollections_list {
  width: 70%;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 980px) {
    grid-template-columns: 1fr;
    & > div {
      width: 315px;
    }
  }
}

.back_link {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 20px;
}

.back_link span {
  display: inline;
  margin-left: 10px;
}

.breadcrumb {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fillsstatesdisabled);
  display: flex;
  gap: 8px;
  height: 60px;
  padding: 0px 0px 16px;
  position: relative;
}

.breadcrumbs {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.navigation {
  align-items: center;
  display: inline-flex;
  gap: 24px;
  position: relative;
}

.navigation .frame {
  align-items: center;
  background-color: #054dd1;
  border-radius: 1000px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
}

.navigation .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.navigation .frame-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.navigation .vector {
  height: 16px;
  position: relative;
  width: 16px;
}

.navigation .sort-by {
  color: var(--fillswhite);
  font-family: var(--title-medium-bold-font-family);
  font-size: var(--title-medium-bold-font-size);
  font-style: var(--title-medium-bold-font-style);
  font-weight: var(--title-medium-bold-font-weight);
  letter-spacing: var(--title-medium-bold-letter-spacing);
  line-height: var(--title-medium-bold-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.navigation .arrow-drop-up {
  height: 16px;
  position: relative;
  width: 23px;
}

.navigation .img {
  align-self: stretch;
  position: relative;
  width: 1px;
}

.navigation .sort-by-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 0px 8px;
  position: relative;
}

.navigation .text-wrapper {
  color: var(--fillswhite);
  font-family: var(--title-medium-bold-font-family);
  font-size: var(--title-medium-bold-font-size);
  font-style: var(--title-medium-bold-font-style);
  font-weight: var(--title-medium-bold-font-weight);
  letter-spacing: var(--title-medium-bold-letter-spacing);
  line-height: var(--title-medium-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

:root {
  --body-large-font-family: "Open Sans", Helvetica;
  --body-large-font-size: 16px;
  --body-large-font-style: normal;
  --body-large-font-weight: 500;
  --body-large-letter-spacing: 0.5px;
  --body-large-line-height: 24px;
  --body-large-medium-font-family: "Open Sans", Helvetica;
  --body-large-medium-font-size: 16px;
  --body-large-medium-font-style: normal;
  --body-large-medium-font-weight: 500;
  --body-large-medium-letter-spacing: 0.5px;
  --body-large-medium-line-height: 24px;
  --button-default-font-family: "Open Sans", Helvetica;
  --button-default-font-size: 16px;
  --button-default-font-style: normal;
  --button-default-font-weight: 600;
  --button-default-letter-spacing: 0.08px;
  --button-default-line-height: 24px;
  --button-font-family: "Open Sans", Helvetica;
  --button-font-size: 16px;
  --button-font-style: normal;
  --button-font-weight: 600;
  --button-in-line-font-family: "Open Sans", Helvetica;
  --button-in-line-font-size: 16px;
  --button-in-line-font-style: normal;
  --button-in-line-font-weight: 600;
  --button-in-line-letter-spacing: 0.08px;
  --button-in-line-line-height: 24px;
  --button-letter-spacing: 0.5px;
  --button-line-height: 24px;
  --display-small-font-family: "Open Sans", Helvetica;
  --display-small-font-size: 36px;
  --display-small-font-style: normal;
  --display-small-font-weight: 800;
  --display-small-letter-spacing: 0px;
  --display-small-line-height: 44px;
  --fillsbackground: rgba(241, 242, 242, 1);
  --fillsblack: rgba(30, 30, 30, 1);
  --fillsstatesactive: rgba(5, 77, 209, 1);
  --fillsstatesdisabled: rgba(218, 218, 218, 1);
  --fillswhite: rgba(252, 252, 252, 1);
  --headline-small-bold-font-family: "Open Sans", Helvetica;
  --headline-small-bold-font-size: 24px;
  --headline-small-bold-font-style: normal;
  --headline-small-bold-font-weight: 700;
  --headline-small-bold-letter-spacing: 0px;
  --headline-small-bold-line-height: 32px;
  --headline-small-font-family: "Open Sans", Helvetica;
  --headline-small-font-size: 24px;
  --headline-small-font-style: normal;
  --headline-small-font-weight: 600;
  --headline-small-letter-spacing: 0px;
  --headline-small-line-height: 32px;
  --hover-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.25);
  --iconserror: rgba(235, 77, 57, 1);
  --label-medium-bold-font-family: "Open Sans", Helvetica;
  --label-medium-bold-font-size: 12px;
  --label-medium-bold-font-style: normal;
  --label-medium-bold-font-weight: 700;
  --label-medium-bold-letter-spacing: 0.5px;
  --label-medium-bold-line-height: 16px;
  --label-small-bold-font-family: "Open Sans", Helvetica;
  --label-small-bold-font-size: 11px;
  --label-small-bold-font-style: normal;
  --label-small-bold-font-weight: 700;
  --label-small-bold-letter-spacing: 0.5px;
  --label-small-bold-line-height: 16px;
  --label-small-medium-font-family: "Open Sans", Helvetica;
  --label-small-medium-font-size: 11px;
  --label-small-medium-font-style: normal;
  --label-small-medium-font-weight: 500;
  --label-small-medium-letter-spacing: 0.5px;
  --label-small-medium-line-height: 16px;
  --m-3syslightoutline: rgba(121, 116, 126, 1);
  --m-3syslightprimary: rgba(103, 80, 164, 1);
  --m3-elevation-light-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --m3-elevation-light-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --m3-label-large-font-family: "Roboto-Medium", Helvetica;
  --m3-label-large-font-size: 14px;
  --m3-label-large-font-style: normal;
  --m3-label-large-font-weight: 500;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
  --m3read-onlylighton-primaryopacity-008: rgba(255, 255, 255, 0.08);
  --m3read-onlylighton-primaryopacity-012: rgba(255, 255, 255, 0.12);
  --m3read-onlylighton-secondary-containeropacity-008: rgba(29, 25, 43, 0.08);
  --m3read-onlylighton-secondary-containeropacity-012: rgba(29, 25, 43, 0.12);
  --m3read-onlylightprimaryopacity-008: rgba(103, 80, 164, 0.08);
  --m3read-onlylightprimaryopacity-012: rgba(103, 80, 164, 0.12);
  --m3read-onlylightsurface1: rgba(255, 251, 254, 1);
  --m3read-onlylightsurface2: rgba(255, 251, 254, 1);
  --m3sysdarkon-secondary-container: rgba(232, 222, 248, 1);
  --m3syslighton-primary: rgba(255, 255, 255, 1);
  --m3syslighton-secondary-container: rgba(29, 25, 43, 1);
  --m3syslighton-surface: rgba(28, 27, 31, 1);
  --modal-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.25);
  --textdisabled: rgba(64, 64, 64, 1);
  --textstandard: rgba(30, 30, 30, 1);
  --title-large-bold-font-family: "Open Sans", Helvetica;
  --title-large-bold-font-size: 22px;
  --title-large-bold-font-style: normal;
  --title-large-bold-font-weight: 700;
  --title-large-bold-letter-spacing: 0px;
  --title-large-bold-line-height: 28px;
  --title-medium-bold-font-family: "Open Sans", Helvetica;
  --title-medium-bold-font-size: 16px;
  --title-medium-bold-font-style: normal;
  --title-medium-bold-font-weight: 700;
  --title-medium-bold-letter-spacing: 0.10000000149011612px;
  --title-medium-bold-line-height: 24px;
  --title-medium-font-family: "Open Sans", Helvetica;
  --title-medium-font-size: 16px;
  --title-medium-font-style: normal;
  --title-medium-font-weight: 600;
  --title-medium-letter-spacing: 0.10000000149011612px;
  --title-medium-line-height: 24px;
  --title-medium-medium-font-family: "Open Sans", Helvetica;
  --title-medium-medium-font-size: 16px;
  --title-medium-medium-font-style: normal;
  --title-medium-medium-font-weight: 500;
  --title-medium-medium-letter-spacing: 0.10000000149011612px;
  --title-medium-medium-line-height: 24px;
}
