.parent-container {
  margin: auto;
}

.page-description {
  margin: 0;
  margin-bottom: 20PX;
}

.page-description-title {
  font: 400 24px/24px "DINPro", sans-serif;
}

.page-description-title-container {
  max-width: 1200px;
  margin: auto;
}

.sidebar-navigation {
  i {
    font-size: 8px;
    vertical-align: middle;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      a {
        text-decoration: none;
        color: #333;
      }

      i {
        margin-right: 8px;
      }
    }
  }
}

.active {
  font-weight: bold;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 10px;
}

.page-title {
  margin-bottom: 30px;
  color: #44515a;
  font: 500 24px/24px "DINPro", sans-serif;
  padding-left: 24px;
}

.input-parent {
  input {
    height: 46px;
    background-color: transparent;

  }
}

.message-text {
  padding: 5px;
}

.grid-form {
  label {
    font-size: 18px;
    line-height: 20px;
    color: #333;

  }

  input {
    font-size: 16px;
    padding-left: 16px;
    color: #44515a;
    border: none;

    &:focus {
      background: #e8f0fe;
      border: none
    }
  }

  div {
    div {
      font-size: 18px;
    }
  }
}

.account-avatar {
  margin-top: 16px;
  position: relative;
  width: 100%;
  padding: 17.5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  display: block;
}

input[type=file] {
  box-shadow: none;

  :focus {
    outline: none;
  }
}

.account-image {
  margin-top: 24px;
}

.form-header{
  p{
    margin-top: 14px;
    color: #44515a;
    font: 500 20px/20px "DINPro", sans-serif;
  }
}
