<!DOCTYPE html>
<html>
  <head>
    <title>Open Metadata Exchange Demo</title>
  </head>
  <body>
    <h1>Open Metadata Exchange Demo</h1>
    <ul>
      <li><a href="https://github.com/ISKME/Open-Metadata-Exchange" target="_blank">Code</a></li>
      <li><a href="https://ISKME.github.io/Open-Metadata-Exchange" target="_blank">Docs</a></li>
      <li><a href="https://github.com/ISKME/Open-Metadata-Exchange/issues" target="_blank">Issues</a></li>
      <li><a href="https://github.com/ISKME/Open-Metadata-Exchange/pulls" target="_blank">Pull requests</a></li>
    </ul>
    <h2>Frontend GUI FE2</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Austin (port: 4000)</th>
          <th>Boston (port: 4001)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="http://localhost:4000/imls" target="_blank">Austin Frontend</a></td>
          <td><a href="http://localhost:4001/imls" target="_blank">Boston Frontend</a></td>
        </tr>
      </tbody>
    </table>

    <h2>Debug frontend GUI FE</h2>
    <p>Start with: `cd fe && npm install && npm run dev`</P>
    <table border="1">
      <thead>
        <tr>
          <th>Austin (port: 3000)</th>
          <th>Boston (port: 3001)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="http://localhost:3000" target="_blank">Austin Debug Frontend</a></td>
          <td><a href="http://localhost:3001" target="_blank">Boston Debug Frontend</a></td>
        </tr>
      </tbody>
    </table>

    <h2>FastAPI Servers</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Austin (port: 5001)</th>
          <th>Boston (port: 5002)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" style="text-align: center;"><strong>API docs</strong></td>
        </tr>
        <tr>
          <td><a href="http://localhost:5001/docs" target="_blank">Docs</a></td>
          <td><a href="http://localhost:5002/docs" target="_blank">Docs</a></td>
        </tr>
        <tr>
          <td><a href="http://localhost:5001/redoc" target="_blank">Redoc</a></td>
          <td><a href="http://localhost:5002/redoc" target="_blank">Redoc</a></td>
        </tr>
        <tr>
          <td><a href="http://localhost:5001/openapi.json" target="_blank">OpenAPI JSON</a></td>
          <td><a href="http://localhost:5002/openapi.json" target="_blank">OpenAPI JSON</a></td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;"><strong>API calls</strong></td>
        </tr>
        <tr>
          <td><a href="http://localhost:5001/api/list" target="_blank">API List</a></td>
          <td><a href="http://localhost:5002/api/list" target="_blank">API List</a></td>
        </tr>
        {% for group in newsgroups %}
        <tr>
          <td><a href="http://localhost:5001/api/channel/{{ group }}" target="_blank">Channel: {{ group }}</a></td>
          <td><a href="http://localhost:5002/api/channel/{{ group }}" target="_blank">Channel: {{ group }}</a></td>
        </tr>
        <tr>
          <td><a href="http://localhost:5001/api/channel/{{ group }}/cards" target="_blank">Channel Cards: {{ group }}</a></td>
          <td><a href="http://localhost:5002/api/channel/{{ group }}/cards" target="_blank">Channel Cards: {{ group }}</a></td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="2" style="text-align: center;"><strong>OER pages</strong></td>
        </tr>
        <tr>
          <td><a href="http://localhost:5001/api/imls/v2/collections/browse/" target="_blank">Collections Browse</a></td>
          <td><a href="http://localhost:5002/api/imls/v2/collections/browse/" target="_blank">Collections Browse</a></td>
        </tr>
        <tr>
          <td><a href="http://localhost:5001/api/imls/v2/resources/" target="_blank">Resources</a></td>
          <td><a href="http://localhost:5002/api/imls/v2/resources/" target="_blank">Resources</a></td>
        </tr>
        <tr>
          <td><a href="http://localhost:5001/api/imls/v2/explore-oer-exchange/" target="_blank">Explore OER Exchange</a></td>
          <td><a href="http://localhost:5002/api/imls/v2/explore-oer-exchange/" target="_blank">Explore OER Exchange</a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
