<!DOCTYPE html>
<html>
  <head>
    <title>Open Metadata Exchange Demo</title>
  </head>
  <body>
    <a href="/">Back</a>
    <h1>Open Metadata API Server</h1>
    {% if channels %}
    <h2>Channels</h2>
    <ul>
      {% for channel in channels %}
      <li>{{ channel }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <h2>No channels found.</h2>
    <p>You need to run
      <code>
	docker exec -it &lt;container_id&gt;
	/usr/lib/news/bin/actsync -v 4 -m -ox -p 20 localhost
	nntp.dev.ome.oercommons.org
      </code>
    </p>
    {% endif %}
  </body>
</html>
