.resources_list_wrapper {
  width: 1250px;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.resources_list {
  display: flex;
  justify-content: flex-start;
  transition: all 0.35s ease 0s;
}
