.dropdown-wrapper {
  position: relative;
  width: 349px;
  height: 40px;
  cursor: pointer;
}

.frame-9 {
  background-color: #fcfcfc;
  border: 1px solid;
  border-color: rgba(218, 218, 218, 1);
  display: flex;
  flex-direction: column;
  width: 349px;
  gap: 8px;
  padding: 8px 24px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
}

.dropdown {
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #DADADA;
  background: #FCFCFC;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.frame-10 {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.icons-arrow-drop-up {
  position: relative;
  width: 24px;
  height: 24px;
}

.property-unchecked-wrapper {
  display: flex;
  width: 160px;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  position: relative;
}

.property-unchecked {
  position: relative;
  width: 13px;
  height: 13px;
}

.rectangle {
  position: relative;
  width: 15px;
  height: 15px;
  top: -1px;
  left: -1px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 2px;
  border: 1px solid;
  border-color: rgba(151, 151, 151, 1);
}

.button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(218, 218, 218, 1);
  border-radius: 100px;
  overflow: hidden;
}

.label-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: rgba(64, 64, 64, 1);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.08px;
  line-height: 24px;
  white-space: nowrap;
  font-style: normal;
}

.values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;

  .inner-values {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
  }

  .icons-arrow-drop-up {
    position: relative;
    width: 24px;
    height: 24px;
  }

  .frame {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    padding: 4px 8px;

    &:hover {
      background: rgba(241, 242, 242, .5);
      border-radius: 4px;
    }
  }

  .filters-checkbox {
    position: relative;
    width: 13px;
    height: 13px;
  }

  .rectangle {
    position: relative;
    width: 15px;
    height: 15px;
    top: -1px;
    left: -1px;
    background-color: #fcfcfc;
    border-radius: 2px;
    border: 1px solid;
    border-color: #979797;
  }

  .microsite {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Open Sans";
    font-weight: 500;
    color: #1e1e1e;
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 16px;
  }
}
