/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.Searchbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  // width: 500px;
  flex: 1;
  margin-bottom: 25px;
  margin-right: 8px;
}

.search_icon {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: 10px;
  top: 10px;
}

.input {
  width: 100%;
  padding: 10px 15px;
  padding-left: 45px;
  border: 1px solid #1e1e1e;
  border-radius: 20px;

  &::placeholder {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
  }
}
