/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable color-hex-length */
.Sidebar {
  width: 160px;
  // min-width: 300px;
  background: #fcfcfc;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}

.sidebar_content {
  width: inherit;
}

.Sidebar .links {
  margin-top: 80px;
  // margin-left: 20px;
}

.Sidebar .links li {
  margin-top: 10px;
}
