@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

.library_wrapper {
  position: relative;
}

.library {
  // position: fixed;
  width: inherit;
}

.back_link {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}

.back_link,
.library_title {
  margin-bottom: 20px;
}

.back_link_img {
  display: inline;
  margin-right: 10px;
}

.outlet {
  margin-top: 24px;
  & > * {
    padding: 0;
    width: 100%;
  }
}

.breadcrumb {
  padding-bottom: 16px;
}

.searchGrid {
  display: grid;
  // grid-template-columns: minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
  @media screen and (max-width: 980px) {
    grid-template-columns: 1fr;
  }
}

.cardWidth {
  img {
    width: 100%;
  }
}
