name: ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  # inn-docker:
  #  strategy:
  #    fail-fast: false
  #    matrix:
  #      service-image: [cclauss/inn]  # , greenbender/inn]
  #  runs-on: ubuntu-latest
  #  services:
  #    inn-service:
  #      image: ${{ matrix.service-image }}
  #      ports:
  #        - 119:119
  #        - 563:563
  #  steps:
  #    - uses: actions/checkout@v6
  #    - uses: actions/setup-python@v5
  #      with:
  #        python-version: 3.13
  #        allow-prereleases: true
  #    - run: pip install --upgrade pip
  #    - run: pip install pydantic pynntp pytest
  #    - run: pytest
  #    - run: python scripts/nntp_io.py

  inn-docker_uv:
    strategy:
      fail-fast: false
      matrix:
        service-image: [cclauss/inn]  # , greenbender/inn]
    runs-on: ubuntu-latest
    services:
      inn-service:
        image: ${{ matrix.service-image }}
        ports:
          - 119:119
          - 563:563
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uv python install  # Version from pyproject.toml project.requires-python
      # TODO(@cclauss): Remove `|| true` when tests are fixed
      - run: uvx --with=beautifulsoup4,dateparser,httpx,pondpond,pydantic,pynntp,pytest-run-parallel pytest --iterations=8 --parallel-threads=auto --ignore-gil-enabled
      - run: uv run scripts/nntp_io.py

  front-end:
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.19.0]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: cd frontend && npm ci || npm install
      - run: cd frontend && npm run  # To see available commands
      # TODO(@KevinEverywhere): Set up eslint/config and then remove `|| true`
      - run: cd frontend && yes | npm init @eslint/config
      - run: cd frontend && npm run lint:scss || true
      - run: cd frontend && npm run lint:ts || true
      - run: cd frontend && npm run unit
