.Explore {
  padding: 0;
}

.explore_title {
  margin-bottom: 25px;
}

.breadcrumb {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 60px;
  padding: 0px 0px 16px;
  position: relative;
}

.breadcrumbs {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.titles_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.titles_wrapper h2 {
  margin-bottom: 25px;
}

.shared_collections {
  margin-bottom: 25px;
}

.collections_by_microsite h2 {
  margin-bottom: 25px;
}

.links_wrapper {
  width: 608px;
  text-align: right;
}

.search_redirect {
  display: flex;
}

.search_button {
  background-color: #054DD1;
  color: #ffffff
}

.back_link {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 20px;
}

.back_link img {
  display: inline;
  margin-right: 10px;
}
